<!-- Title Meta -->
<meta charset="utf-8"/>
<title>{{ subTitle }} | Olinda Aguiar - Atelier de Arte em Madeira</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
      content="Olinda Aguiar - Atelier de Arte em Madeira & Móveis Sob Medida em Madeira de Demolição. Tradição artesanal, esculturas e móveis exclusivos."/>
<meta name="author" content="Olinda Aguiar"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<!-- App favicon -->
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/images/favicon.ico">
